@{ 
    Layout = null;
}

<form asp-controller="Security" asp-action="Login" method="post">
    <input type="text" name="username" id="username" placeholder="Username" />
    <input type="password" name="password" id="password" placeholder="Password" />
    <input type="submit" value="Login" />
</form>

<p>Usernames: guest, free, paid, over18</p>
<p>Password: </p>

